{{#if session.user}}
<p>Logged in as: {{session.user}}</p>
{{/if}}
<div id="navbar">
  <span><a href="/bevezet">Uj vendeglo</a></span>
  <span><a href="/foglalas">Foglalas</a></span>
  {{#if session.user}}
  <span><a href="/logout">Logout</a></span>
  {{else}}
  <span><a href="/login">Login</a></span>
  {{/if}}
  <span><a href="/regisztracio">Regisztracio</a></span>
</div>