<article>
	<header>
		<h1>Vendeglo bevezetese:</h1>
	</header>
	<form method="post" action="/submit_form" title="Adatok" id="form">
		<label for="name">Vendeglo neve:</label><br>
		<input type="text" id="name" name="name" pattern="[A-Za-z1-9]{1,}"><br>

		<label for="city">Varos:</label><br>
		<input type="text" id="city" name="city" pattern="[A-Z][a-z]{1,}"><br><br>

		<label for="street">Utca:</label><br>
		<input type="text" id="street" name="street" pattern="[A-Z][a-z]{1,}"><br><br>

		<label for="number">Hazszam:</label><br>
		<input type="number" id="number" name="number">
		<br>

		<label for="tel">Telefonszam:</label><br>
		<input type="tel" id="tel" name="tel"><br>

		<label for="open">Nyitvatartas(hanytol-hanyig):</label><br>
		<input type="time" id="from" name="from">
		<input type="time" id="until" name="until">
		<br>
		<br>

		<input type="submit" id="submit" value="Submit">
	</form>
	<br><br>

	<footer id="footer"></footer>

	<script>
		var footer = new Date(document.lastModified);
		document.getElementById("footer").innerHTML = footer;
	</script>
</article>