<article>
	<header>
		<h1>Foglalas: </h1>
	</header>

	<form method="post" action="/foglalas" title="Adatok" name="form">
		<label for="vend">Valassz vendeglot:</label>
		<select id="vendeglo" name="vendeglo">
			{{#each inns}}
			<option>{{VendegloNev}}</option>
			{{/each}}
		</select>
		<br><br>
		<label for="felh">Valassz Felhasznalot</label>
		<select id="felh" name="felh">
			{{#each user}}
			<option>{{VendegNev}}</option>
			{{/each}}
		</select>
		<br><br>
		<input type="submit" id="submit" name="submit" value="Submit">
	</form>
	<br><br>

	<p>Message:</p>
	<p class="message">{{ message }}</p>

	<footer id="footer"></footer>

	<script>
		var footer = new Date(document.lastModified);
		document.getElementById("footer").innerHTML = footer;
	</script>
</article>