<article>
	<header>
		<h1>Kepfeltoltes: </h1>
	</header>

	<img src="uploadDir/{{inn.Kep}}" alt="A vendeglo fenykepe">

	<table border="1" width="100%">
		<tr>
			<th>Vendeglo neve</th>
			<th>Varos</th>
			<th>Utca</th>
			<th>Hazszam</th>
			<th>Telefonszam</th>
			<th>Nyitas</th>
			<th>Zaras</th>
		</tr>

		<tr>
			<td>{{inn.VendegloNev}}</td>
			<td><code>{{inn.Varos}}</code></td>
			<td>{{inn.Utca}}</td>
			<td>{{inn.Hazszam}}</td>
			<td>{{inn.Telefonszam}}</td>
			<td>{{inn.Nyitas}}</td>
			<td>{{inn.Zaras}}</td>
		</tr>

	</table>
	<br><br>



	<table>
		<tr>
			<th>FoglalasID</th>
			<th>Vendeglo neve</th>
			<th>Milyen neven?</th>
			<th>Felhasznalo</th>
		</tr>
		{{#each foglalas}}
		<tr id="{{FoglalasID}}">
			<td>{{FoglalasID}}</td>
			<td>{{VendegloNev}}</td>
			<td>{{FelhasznaloNev}}</td>
			<td>{{FelhasznaloLogged}}</td>
			<td>
				<form id="myForm" onsubmit="submitForm(event)"><input type="hidden" name="text" value="{{FoglalasID}}">
					<input type="hidden" name="vendeglo" value="{{VendegloNev}}">
					<input type="submit" value="Torol!" name="id" /></form>
			</td>
		</tr>

		{{/each}}
	</table>

	<br>
	<form method="post" action="/upload?id={{inn.VendegloNev}}" enctype="multipart/form-data" title="Adatok"
		name="form">
		<label for="file">Kep:</label><br>
		<input type="file" id="file" name="file" accept="img/*"><br>
		<input type="submit" id="submit" value="Submit">
	</form>
	<br><br>

	<script src="torolFoglalas.js"></script>

	<footer id="footer"></footer>

	<script>
		var footer = new Date(document.lastModified);
		document.getElementById("footer").innerHTML = footer;
	</script>
</article>