<h1>Bejelentkezes: </h1>
<form method="post" action="/login" title="Adatok" name="form">
	<label for="user">Nev:</label>
	<input type="text" name="user">
	<br><br>
	<label for="jelszo">Jelszo</label>
	<input type="password" name="password">
	<br><br>
	<input type="submit" id="submit" name="submit" value="Submit">
</form>