<article>
    <header>
        <h1>Vendeglo bevezetese:</h1>
    </header>
    <form method="post" action="/submit_regisztral" title="Adatok" id="form">
        <label for="name">Nev:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="felhcsop">Felhasznalocsoport:</label>
        <select id="felcsop" name="felhcsop">
            <option>adminisztrator</option>
            <option>vendeg</option>
        </select>
        <br><br>
        <label for="jelszo">Jelszo</label>
        <input type="password" name="password">

        <input type="submit" id="submit" value="Submit">
    </form>
    <br><br>

    <footer id="footer"></footer>

    <script>
        var footer = new Date(document.lastModified);
        document.getElementById("footer").innerHTML = footer;
    </script>
</article>