<article>
	<header>
		<h1>Vendeglok listaja:</h1>
	</header>
	{{#if inns}}
	<table border="1" width="100%">
		<tr>
			<th>Vendeglo neve</th>
			<th>Tovabbi reszletek</th>
			<th>Nyitas</th>
			<th>Zaras</th>
		</tr>

		{{#each inns}}
		<tr>
			<td><a href="/kepfeltoltes?id={{VendegloNev}}" id="a" name="a">{{VendegloNev}}</a></td>
			<td>
				<form id="myForm" onsubmit="submitForm(event)">
					<input type="hidden" name="name" value="{{VendegloNev}}" />
					<input type="submit" value="{{VendegloNev}}" /></form>
			</td>
			<td>{{Nyitas}}</td>
			<td>{{Zaras}}</td>

		</tr>
		{{/each}}
	</table>
	{{else}}
	<p class="message">Nincs vendeglo az adatbazisban</p>
	{{/if}}

	<textarea id="result" rows="4" cols="70">További részletek...</textarea>

	<script src="vendegloklistascript.js"></script>

	<footer id="footer"></footer>

	<script>
		var footer = new Date(document.lastModified);
		document.getElementById("footer").innerHTML = footer;
	</script>
</article>