body { 
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#footer{
      right: 50%;
      left: 50%;
  }

  footer{
    
    text-align: center;
  }

  input:invalid{
      color: lightcoral;
  }