<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
  {{> nav}}
  {{{ body }}}
</body>

</html>